<div class="container">
  
  <div [@fadeInOut] *ngIf="user">
    <div class="balance" [@fadeInOut]>
      <div class="card">
        <header>
          <time
        datetime="2018-05-15T19:00">Year 2023</time>
          <div class="logo">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 234.5 53.7"><style>.st0{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}</style><path d="M.6 1.4L116.9 52l117-50.6" class="st0"/></svg>
            </span>Welcome</div>
          <div class="sponsor">The Bank</div>
        </header>
        <div class="announcement">
          <h3>Saldo</h3>
          <p>Saldo: {{ userBalance | currency: 'EUR' }}</p>
          <h3 class="italic">That's all y got</h3>
        </div>
      </div>
    </div>
    <div class="button-container">
    <button class="btn-depositar" (click)="deposit()" [@fadeInOut]>
      Depositar
    </button>
    <button class="btn-retirar" (click)="withdraw()" [@fadeInOut]>
      Retirar
    </button>
  </div>
    <div class="logout">
    <a routerLink="/login" class="btn btn-secondary" [@fadeInOut]>Sair</a>
  </div>
  </div>

  <h3>Histórico de Movimentos</h3>
  <ul class="movements-list">
    <li *ngFor="let movement of movements" [@fadeInOut]>
      Data: {{ movement.date }}, Tipo: {{ movement.type }},
      Valor: {{ movement.amount | currency: 'EUR' }}, Descrição:
      {{ movement.description }}
    </li>
  </ul>
</div>
